extends layout

block scripts
    script(src="/javascripts/Users.js")
    script(src="/javascripts/UsersNewController.js")
    script(src="/javascripts/UsersNewService.js")
    script(src="/javascripts/UsersEditController.js")
    script(src="/javascripts/UsersEditService.js")
    script(src="/javascripts/UsersController.js")
    script(src="/javascripts/UsersService.js")

block content
    div(flex-container="row")
        div(flex-item="9", ng-view)
            
