extends ../login

block scripts
    script(src="/javascripts/LoginController.js")
    script(src="/javascripts/LoginService.js")

block content

    div(flex-container="column", flex-align="space-between center", ng-controller="LoginController")
        div(flex-item="6", style="width: 300px;")
            .fs-title.display-block
                i.mdi.mdi-account-key.icon.icon--l.icon--red.icon--circled
                | &nbsp; เข้าสู่ระบบ (Login system)

            lx-text-field(label="Username")
                input(type="text", ng-model="username")
            lx-text-field(label="Password")
                input(type="password", ng-model="password")

            button(ng-click="doLogin()", type="button").btn.btn--l.btn--green.btn--raised เข้าสู่ระบบ
            p= username