.data-table-container
    table.data-table.data-table--has-secondary
        thead
            tr
                th #
                th ชื่อผู้ใช้งาน
                th ชื่อ - สกุล
                th Active
                th
            tr
                td(colspan="5").divider.divider--dark
        tbody
            tr(ng-repeat="u in users").data-table__clickable-row
                td {{ $index+1 }}
                td {{ u.username }}
                td {{ u.fullname }}
                td {{ u.active }}
                td
                    
                    lx-dropdown(position='right', from-top)
                        button.btn.btn--l.btn--black.btn--icon(lx-ripple,   lx-dropdown-toggle)
                            i.mdi.mdi-dots-vertical

                        lx-dropdown-menu
                            ul
                                li
                                    a.dropdown-link Action

    br
    a(lx-ripple, href="#/new").btn.btn--l.btn--red.btn--fab
        i.mdi.mdi-plus
