
.data-table-container
    table.data-table.data-table--has-secondary
        thead
            tr
                th #
                th ชื่อผู้ใช้งาน
                th ชื่อ - สกุล
                th Active
                th
            tr
                td(colspan="5").divider.divider--dark
        tbody
            tr(ng-repeat="u in users").data-table__clickable-row
                td {{ $index+1 }}
                td {{ u.username }}
                td {{ u.fullname }}
                td {{ u.active }}
                td
                    
                    lx-dropdown(position='right', from-top)
                        button.btn.btn--l.btn--black.btn--icon(lx-ripple,   lx-dropdown-toggle)
                            i.mdi.mdi-dots-vertical

                        lx-dropdown-menu
                            ul
                                li
                                    a(href="#/edit/{{u.id}}").dropdown-link Edit
                                li
                                    a(ng-click="remove(u.id, $index)").dropdown-link Delete

    br
    a(lx-ripple, href="#/new").btn.btn--l.btn--red.btn--fab
        i.mdi.mdi-plus
    | &nbsp;        
    a(lx-ripple, ng-click="showModal()").btn.btn--l.btn--green.btn--fab
        i.mdi.mdi-plus

lx-dialog#mdlNew.dialog.dialog--l(onclose='closingDialog()')
    .dialog__header
        .toolbar.bgc-light-blue-500(class="pl++")
            span.toolbar__label.tc-white.fs-title
                | เพิ่ม/แก้ไขข้อมูล
            .toolbar__right
                button.btn.btn--l.btn--white.btn--icon(lx-ripple, lx-dialog-close)
                    i.mdi.mdi-close
    .dialog__content
        div(class="p+")
            .fs-headline
                | เพิ่มผู้ใช้งานใหม่
                
            form(name="frmNew")
                div(flex-container="row", flex-gutter="24")
                    div(flex-item="12")
                        lx-text-field(label="ชื่อ-สกุล")
                            input(type="text", ng-model="fullname", ng-required="true")
                                
                                
                div(flex-container="row", flex-gutter="24")
                    div(flex-item="5")
                        lx-text-field(label="Username")
                            input(type="text", ng-model="username", ng-required="true")
                    div(flex-item="5")
                        lx-text-field(label="Password")
                            input(type="password", ng-model="password", ng-required="true")            

                div(flex-container="row", flex-gutter="24")
                    div(flex-item)
                        .switch(class="mt+")
                            input#switch2.switch__input(type='checkbox', checked, ng-model="active")
                            label.switch__label(for='switch2') Switch with help
                            span.switch__help
                                | เปิด/ปิด การใช้งาน
            
    .dialog__actions
        button(ng-click="save()", ng-disabled="frmNew.$invalid").btn.btn--l.btn--green.btn--raised บันทึก
        | &nbsp;
        button.btn.btn--l.btn--grey.btn--raised(lx-dialog-close) ปิดหน้าต่าง
